.parentdev{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    border: 5px solid lightgrey;
    width: 100%;
    height: 30px;
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dev{
  display: flex;
  gap: 20px;
}
.duv{
  display: flex;
  gap: 20px;
}

.carpic{
  width: 100%;
  height: 668.3px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.about{
  font-style: oblique;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.parentsdev2{
  width: 100%;
  display: flex;
  gap: 10px;
}
.box1{
  width: 100%;
  height: 200px;
  border: 1px solid lightgrey;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.box2{
  width: 100%;
  height: 200px;
  border: 1px solid lightgrey;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
.box3{
  width: 100%;
  height: 200px;
  border: 1px solid lightgrey;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
.img2 img{
  width:150px ;
  height:150px ;
  border-radius: 50%;
}
.bigdev{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.img2{
  width: 1000px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
  display: flex;
  flex-direction : row;
  justify-content: center;
  align-items: center;
}
.funt{
  font-size: 20px;
}